html{
    background-color: grey;
}
.container{
    display: block;
    position: fixed;
    width: 1000px;
    height: 1000px;
    margin-top: 400px;
    margin-bottom: 100px;
    margin-left: 450px;

}

h1{
    text-align: center;
    color: rgb(172, 29, 29);
    margin-top: 100px;
}

.hillbackdrop{
    display: block;
    width: 400px;
    height: 200px;
    background-color: grey; 
    z-index: 10;
}

.hill{
    display: block;
    position: fixed;
    background-color: grey; 
    border: 1px solid black;
    transform: rotate(45deg);
    width: 120px;
    height: 120px;
}

.hill1{
    margin-left: 30px;
    margin-top: -30px;
    z-index: -10;
}

.hill2{
    margin-left: 300px;
    margin-top: -50px;
    z-index: -10;
}

.hill3{
    width: 180px;
    height: 180px;
    margin-left: 160px;
    margin-top: -90px;
    z-index: -10;
}

.hill4{
    width: 180px;
    height: 180px;
    margin-left: 360px;
    margin-top: 19px;
    z-index: -10;
}

.grass{
    width: 600px;
    height: 130px;
    background-color: green;
    position: fixed;
    display: block;
    margin-top: 110px;

}

.leaves{
    position: fixed;
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: green;
    z-index: 12;
}

.leafcircle{
    position: fixed;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: green;
}

.leafcircle1{
    margin-top: 0px;
    margin-left: -10px;
}

.leafcircle2{
    margin-top: -10px;
    margin-left: 10px;
}
.leafcircle3{
    margin-top: -10px;
    margin-left: 32px;
}
.leafcircle4{
    margin-top: 10px;
    margin-left: 46px;
}
.leafcircle5{
    margin-top: 36px;
    margin-left: 40px;
}

.leafcircle6{
    margin-top: 36px;
    margin-left: -4px;
}

.leafcircle7{
    margin-top: 16px;
    margin-left: -12px;
}

.trunk{
    position: fixed;
    display: block;
    width: 20px;
    height: 60px;
    background-color: brown;
    border: 2px solid black;
    margin-top: 48px;
    margin-left: 26x;
    z-index: 11;
}

.tree1{
    position: fixed;
    margin-left: 70px;
    margin-top: 30px;
}

.tree2{
    position: fixed;
    margin-left: 210;
    margin-top: 24px;
}

.tree3{
    position: fixed;
    margin-left: 350px;
    margin-top: 40px;
}

.tree3{
    position: fixed;
    margin-left: 490px;
    margin-top: 16px;
}

.cloud{
    position: fixed;
    display: block;
    width: 120px;
    height: 60px;
    background-color: white;
    z-index: 10;
}

.cloud-circle{
border-radius: 50%;
background-color: white;
position: fixed;
display: block;
width: 50px;
height: 50px;
}

.cloud1{
    margin-left: 20px;
    margin-top: -140px;
    animation: slide1 18.5s ease-in-out alternate infinite;
}

@keyframes slide1{
    from {margin-left: 20px;}
    to {margin-left: 320px;}
}

.cloud2{
    margin-left: 360px;
    margin-top: -190px;
    animation: slide2 28.5s ease-in-out alternate infinite;
}

@keyframes slide2{
    from {margin-left: 40px;}
    to {margin-left: 400px;}
}

.cloud-circle1{
    width: 60px;
    height: 60px;
    margin-left: 76px;
    margin-top: -16px;
 }

.cloud-circle2{
    margin-left: 96px;
    margin-top: 10px;
}

.cloud-circle3{
    width: 60px;
    height: 0px;
    margin-left: 36px;
    margin-top: -36px;
}

.cloud-circle4{
    width: 60px;
    height: 60px;
    margin-left: -23px;
    margin-top: 0px;
}

.cloud-circle5{
    width: 60px;
    height: 60px;
    margin-left: 0px;
    margin-top: -30px;
}

.sky{
    position: fixed;
    display: block;
    width: 600px;
    height: 440px;
    background-color: lightskyblue;
    margin-top: -300px;
    z-index: -50;
    animation-name: sky-color;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes sky-color {
    0% {
        background: lightyellow;
    }
    15% {
        background: lightskyblue;
    }
    45% {
        background: lightskyblue;
    }
    50% {
        background: lightyellow;
    }
    65% {
        background: black;
    }
    95% {
        background: black;
    }
    100% {
        background: lightyellow;
    }
}

.spinner{
    position: fixed;
    display: block;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    margin-top: -300px;
    z-index: -20;
    animation-name: spinner-rotation;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-direction: reverse;
    animation-iteration-count: infinite;
}

@keyframes spinner-rotation{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.sun{
    position: fixed;
    display: block;
    width: 60px;
    height: 60px;
    background-color: yellow;
    border-radius: 50%;
    margin-left: 268px;
    margin-top: 120px;
    z-index: -25;
}

.moon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: inset 0px 10px white, inset 0px 10px 1px 1px white;
    margin-left: 0px;
    margin-top: 240px;
    z-index: -25;
    animation-name: moon-rotation;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes moon-rotation{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}